<po-page-default p-title="Desafio Toalha">
  <form [formGroup]="oForm">
    <div class="po-row">
      <po-widget formGroupName="desafioToalha" class="po-xl-6 po-lg-6 po-md-6 po-sm-6">

        <div class="po-font-text po-text-color-07">
       
        </div>
        <po-input formControlName="codigo" name="codigo" id="codigo" p-label="Codigo"> </po-input>

        <div class="po-font-text po-text-color-07">
        </div>
        <po-input formControlName="nome" name="nome" id="nome" p-label="Nome"> </po-input>

        <div class="po-font-text po-text-color-07">
        </div>
        <po-input formControlName="nomereduzido" name="nomereduzido" id="nomereduzido" p-label="Nome Reduzido"> </po-input>


        <div class="po-font-text po-text-color-07">
        </div>
        <po-input formControlName="loja" name="loja" id="loja" p-label="Loja"> </po-input>

        <div class="po-font-text po-text-color-07">
        </div>
        <po-input formControlName="endereco" name="endereco" id="endereco" p-label="Endereço"> </po-input>

        <div class="po-font-text po-text-color-07">
        </div>
        <po-input formControlName="tipo" name="tipo" id="tipo" p-label="Tipo"> </po-input>

        <div class="po-font-text po-text-color-07">
        </div>
        <po-input formControlName="estado" name="endereco" id="estado" p-label="Estado"> </po-input>

        <div class="po-font-text po-text-color-07">
        </div>
        <po-input formControlName="municipio" name="municipio" id="municipio" p-label="Municipio"> </po-input>


        <div class="ticket_comment__btn">
          <po-button p-icon="po-icon-plus" p-label="ENVIAR DADOS" p-type="primary" (p-click)="add()"></po-button>
        </div>

      </po-widget>

    </div>
  </form>
</po-page-default>